/* Example CSS for basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

/* Example CSS for password visibility toggle */
form {
    max-width: 400px;
    margin: 20px auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* input[type="checkbox"] {
    margin-left: 10px;
} */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 85%;
    padding: 8px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
.error {
    color: red;          
    font-size: 0.875rem;  
    font-weight: 400;     
    margin-top: 0.5rem;   
}
.password-container .toggle-button {
    position: absolute;
    right: 56px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.password-container .toggle-button:hover {
    color: #555;
}
.create-button{
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
.create-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
article {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Post title styling */
article h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

/* Post content styling */
article p {
    color: #555;
    line-height: 1.6;
}

/* Metadata styling */
article small {
    color: #888;
    font-size: 12px;
}

/* Hover effect for posts */
article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}